@model TranDucHung289.Models.TDH0289

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TDH0289</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TDHid" class="control-label">TDH ID</label>
                <input asp-for="TDHid" class="form-control" />
                <span asp-validation-for="TDHid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDHName" class="control-label">TDH tên</label>
                <input asp-for="TDHName" class="form-control" />
                <span asp-validation-for="TDHName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label"> TDH giới tính
                    <input class="form-check-input" asp-for="TDHGender" /> @Html.DisplayNameFor(model =>
                    model.TDHGender)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
